<!--
 * @Descripttion: 
 * @version: 
 * @Author: Da Chuang
 * @Date: 2019-12-10 09:48:42
 * @LastEditors: Da Chuang
 * @LastEditTime: 2019-12-14 20:54:47
 -->

<html>

<head>
    <script src="{{url_for('static',filename='js/vis-network.min.js')}}" charset="utf-8"></script>
    <link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

    <div id="VIS_draw"></div>

    <script type="text/javascript">
        var network;
        var allNodes;
        var nodes, edges;
        var highlightActive = false;
        data = JSON.parse('{{data|safe }}')
        if (data) {
            nodes = data.nodes
            edges = data.edges
        }
        var nodesDataset = new vis.DataSet(nodes)
        console.log('----nodesDataset', nodesDataset)
        var edgesDataset = new vis.DataSet(edges)
        var container = document.getElementById("VIS_draw");
        // console.log(nodesDataset,edgesDataset)
        var data = {
            nodes: nodesDataset,
            edges: edgesDataset
        };
        var options = {
            nodes: {
                shape:'circularImage',
                size: 20,
                font: {
                    size: 15
                }
            },
            edges: {
                font: {
                    size: 10,
                    align: 'center'
                },
                // color: 'red',
                arrows: {
                    to: {
                        enabled: true,
                        scaleFactor: 1.2
                    }
                },
                smooth: {
                    enabled: true
                }
            },
            physics: {
                stabilization: false,
                barnesHut: {
                    gravitationalConstant: -9000,
                    springConstant: 0.05,
                    springLength: 50
                }
            },
            interaction: {
                tooltipDelay: 200,
                // hideEdgesOnDrag: true,
                hideEdgesOnZoom: true,
            }
        };

        network = new vis.Network(container, data, options);
        // get a JSON object
        allNodes = nodesDataset.get({
            returnType: "Object"
        });
        network.on("click", neighbourhoodHighlight);

        function neighbourhoodHighlight(params) {
            // if something is selected:
            if (params.nodes.length > 0) {
                highlightActive = true;
                var i, j;
                var selectedNode = params.nodes[0];
                var degrees = 1;

                // mark all nodes as hard to read.
                for (var nodeId in allNodes) {
                    // allNodes[nodeId].color = 'rgba(200,200,200,0.5)';
                    if (allNodes[nodeId].hiddenLabel === undefined) {
                        allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
                        allNodes[nodeId].label = undefined;
                    }
                    if (allNodes[nodeId].hideenImage === undefined){
                        allNodes[nodeId].hideenImage = allNodes[nodeId].image;
                    }
                    allNodes[nodeId].image = "{{ url_for('static', filename='img/miss.jpg') }}";
                    allNodes[nodeId].size=20;
                }
                var connectedNodes = network.getConnectedNodes(selectedNode);
                var allConnectedNodes = [];

                // get the second degree nodes
                for (i = 1; i < degrees; i++) {
                    for (j = 0; j < connectedNodes.length; j++) {
                        allConnectedNodes = allConnectedNodes.concat(network.getConnectedNodes(connectedNodes[j]));
                    }
                }

                // all second degree nodes get a different color and their label back
                for (i = 0; i < allConnectedNodes.length; i++) {
                    // allNodes[allConnectedNodes[i]].color = 'rgba(150,150,150,0.75)';
                    if (allNodes[allConnectedNodes[i]].hiddenLabel !== undefined) {
                        allNodes[allConnectedNodes[i]].label = allNodes[allConnectedNodes[i]].hiddenLabel;
                        allNodes[allConnectedNodes[i]].hiddenLabel = undefined;
                    }
                }

                // all first degree nodes get their own color and their label back
                for (i = 0; i < connectedNodes.length; i++) {
                    // allNodes[connectedNodes[i]].color = undefined;
                    allNodes[connectedNodes[i]].image = allNodes[connectedNodes[i]].hideenImage;
                    allNodes[connectedNodes[i]].size=30;
                    if (allNodes[connectedNodes[i]].hiddenLabel !== undefined) {
                        allNodes[connectedNodes[i]].label = allNodes[connectedNodes[i]].hiddenLabel;
                        allNodes[connectedNodes[i]].hiddenLabel = undefined;
                    }
                }

                // the main node gets its own color and its label back.
                // allNodes[selectedNode].color = undefined;
                allNodes[selectedNode].image = allNodes[selectedNode].hideenImage;
                allNodes[selectedNode].size=30;
                if (allNodes[selectedNode].hiddenLabel !== undefined) {
                    allNodes[selectedNode].label = allNodes[selectedNode].hiddenLabel;
                    allNodes[selectedNode].hiddenLabel = undefined;
                }
            } else if (highlightActive === true) {
                // reset all nodes
                for (var nodeId in allNodes) {
                    // allNodes[nodeId].color = undefined;
                    allNodes[nodeId].image = allNodes[nodeId].hideenImage;
                    allNodes[nodeId].size=20;
                    if (allNodes[nodeId].hiddenLabel !== undefined) {
                        allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
                        allNodes[nodeId].hiddenLabel = undefined;
                    }
                }
                highlightActive = false
            }

            // transform the object into an array
            var updateArray = [];
            for (nodeId in allNodes) {
                if (allNodes.hasOwnProperty(nodeId)) {
                    updateArray.push(allNodes[nodeId]);
                }
            }
            nodesDataset.update(updateArray);
        }
    </script>
</body>

</html>