<!--
 * @Descripttion: 
 * @version: 
 * @Author: Da Chuang
 * @Date: 2020-01-05 16:15:39
 * @LastEditors  : Da Chuang
 * @LastEditTime : 2020-01-05 17:00:53
 -->
{% extends "bootstrap/base.html" %}

{% block title %}外国政要社交网络分析{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<head>
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css" />
    <style>
    .header-navigation {
	  top: 0;
	  width: 100%;
	  height: 50px;
	  line-height: 30px;
	  opacity:0.8;
	  background-color:black;
	  text-align: center;
	  font-color:white;
	  font-size:20px;
	  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
</style>
</head>
<body background="{{ url_for('static',filename='images/xxx.jpg') }}" style="background-repeat:no-repeat;background-size:cover;height: 950px;">
    <div class="container">
        <div class="container1">
{#            <ul>外国政要社交媒体言论分析</ul>#}
            <ul class="menu">
                <li><a href="{{ url_for('main.index') }}" style="font-size:30px">外国政要社交媒体言论分析</a></li>
                <li><a href="{{ url_for('main.index') }}">首页</a></li>
                <li><a href="{{ url_for('emotion_analyses.emotionanalysesindex') }}">情感分析</a></li>
                <li class="active">
                    <a href="#">社交网络分析</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('socialnet.socialnetindex') }}">cjh</a></li>
                        <li><a href="{{ url_for('socialnet.shortestpath') }}">wy</a></li>
                        <li><a href="#">xr</a></li>
                        <li><a href="#">ysx</a></li>
                    </ul>
                </li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
</script>
{% endblock %}
<div style="height:1000px">
</div>
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
</body>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
<!--position: fixed; z-index: 9999;-->