{% extends "base.html" %}

{% block title %}中国相关{% endblock %}

{% block head %}
{{ super() }}

    <script src="{{url_for('static',filename='js/jquery.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/echarts.min.js"></script>
    <script src="static/js/echarts-wordcloud.js"></script>

{% endblock %}

{% block navbar %}
<section class="content-header">
    <h1>中国相关</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">推文关键词</li>
        <li class="active">中国相关</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <div id="box" style="width:900px;height: 400px;margin: 0 auto;top:20px;"></div>
    <div id="box2" style="width:1000px;height: 400px;margin: 0 auto;"></div>
    <div style="width: 900px;height: 200px;margin: 0 auto;color: #214373;">
        <p>在以<b  style="font-size:25px">virus、coronavirus</b>为关键词检索后，我们能直观的了解特朗普对病毒的态度。</p>
        <p>在筛选出的<b  style="font-size:25px">54</b>条包含virus或coronavirus关键词的推文中，coronavirus共出现<b  style="font-size:25px">49</b>次，
            ，china和chinese共出现20次，job共出现14次。</p>
        <p>在54条与新冠病毒有关的推文中，有8条直接提到了<b  style="font-size:25px">Chinese virus</b>，时间集中在3月17日至23日间，此前和之后，特朗普均未再提该词。</p>
    </div>
</div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('box'));
    // 指定图表的配置项和数据
    option = {
        title: {
            text: '与新冠病毒有关推文的情感',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
        },
        color: ['#003366','#4cabce', '#e5323e'],
        stillShowZeroSum: false,
        series: [
            {
                name: '与新冠病毒有关推文情感',
                type: 'pie',
                radius: '50%',
                data: [
                    {value: 28, name: '积极情绪'},
                    {value: 17, name: '无情绪'},
                    {value: 9, name: '消极情绪'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 100,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(128, 128, 128, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    //初始化ehcharts实例
    var myChart=echarts.init(document.getElementById("box2"));

    var words2=new Array();
    var codes2=new Array();
    var count=0;
    {% for i in word2 %}
        words2[count]="{{ i }}";
        count++;
        {% endfor %}

    var count=0;
    {% for i in num2 %}
        var j = words2[count];
        codes2[count]={name:j , value:{{ i }} };
        count++;
        {% endfor %}

var JosnList2 = codes2;
        var optionFour = {
            tooltip: {
                show: true
            },
            toolbox:{
            show:true,
            feature:{
                saveAsImage:{
                    show:true,
                    excludeComponents :['toolbox'],
                    pixelRatio: 2
                }
            }
        },
            series: [{
                name: '特朗普推文词频',
                type: 'wordCloud',
                sizeRange: [10, 75],//文字范围
                //文本旋转范围，文本将通过rotationStep45在[-90,90]范围内随机旋转
                rotationRange: [-45, 90],
                rotationStep: 45,
                textRotation: [0, 45, 90, -45],
                //形状
                shape: 'circle',
                textStyle: {
                    normal: {
                        color: function() {//文字颜色的随机色
                            return 'rgb(' + [
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250)
                            ].join(',') + ')';
                        }
                    },
                    //悬停上去的颜色设置
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: JosnList2
            }]
        };

        //使用制定的配置项和数据显示图表
        myChart.setOption(optionFour);
</script>
{% endblock %}